/* Body reset */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Links design */
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

/* Mobile design */
@media screen and (max-width: 960px){

/* Top bar */
.navigationBar{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.navLeft img{
  width: 7rem;
  height: auto;
  padding-top: 0.5rem;
}
.navRight a{
  border: 1px solid hsl(322, 100%, 66%);
  background-color: white;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.7rem;
  color: hsl(322, 100%, 66%);
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.3rem;
}
.navRight a:hover{
  border: 1px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
}

/* First section */
.firstSection{
  margin: 7rem 1.2rem;
}
.firstSection h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: hsl(192, 100%, 9%);
}
.firstSection p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(192, 100%, 9%);
  text-align: center;
  padding: 0rem 1rem;
}
.firstSection .btn{
  display: flex;
  justify-content: center;
}
.firstSection a{
  display: block;
  margin-top: 3rem;
  text-decoration: none;
  border: none;
  padding: 0.8rem 2.7rem;
  font-size: 0.8rem;
  border-radius: 20px;
  font-weight: 600;
  color: hsl(207, 100%, 98%);
  background-color: hsl(322, 100%, 66%);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.firstSection a:hover{
  background-color: hsl(321, 100%, 78%);
}
/* Second section */
.secondSection{
  margin: 7rem 1rem;
}
.secondSection img{
  width: 100%;
  height: auto;
}

/* Third section */
.thirdSection{
  margin: 7rem 0;
  display: flex;
  flex-direction: column;
}
.thirdSectionData{
  align-self: center;
}
.thirdSectionData:not(:first-child){
  margin-top: 5rem;
}
.thirdSectionData img{
  width: 1.8rem;
  height: auto;
}
.thirdSectionData h2{
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  font-size: 5.5rem;
  margin: 0;
}
.thirdSectionData:not(:first-child) h2{
  font-size: 4.8rem;
  margin: 0;
}
.thirdSectionData h3{
  font-family: 'Open Sans', sans-serif;
  color: hsla(192, 100%, 9%, 0.6);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}
.thirdSectionData:not(:first-child) h3{
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

/* Fourth section */
.fourthSection{
  display: flex;
  flex-direction: column;
}
.fourthSection .bg{
  width: 100%;
}
.fourthSection .bgDesktop{
  display: none;
}
.fourthSectionContent{
  background-color: hsl(207, 100%, 98%);
  padding: 0 1.2rem;
  padding-bottom: 3rem;
}
.fourthSectionContent img{
  display: block;
  width: 80%;
  margin: 5rem auto;
}
.fourthSectionContent h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 1.1rem;
}
.fourthSectionContent p{
  text-align: center;
  padding: 0rem 1rem;
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Fifth section */
.fifthSection{
  margin: 7rem 1.2rem;
}
.fifthSection img{
  display: block;
  width: 80%;
  margin: 5rem auto;
}
.fifthSection h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 1.1rem;
}
.fifthSection p{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 0.80rem;
  font-weight: 400;
  padding: 0rem 1rem;
}

/* Sixth section */
.sixthSection{
  display: flex;
  flex-direction: column;
}
.sixthSection .bg{
  width: 100%;
}
.sixthSection .bgDesktop{
  display: none;
}
.sixthSectionContent{
  background-color: hsl(207, 100%, 98%);
  padding: 0 1.2rem;
  padding-bottom: 7rem;
}
.sixthSectionContent img{
  display: block;
  width: 80%;
  margin: 1.5rem auto;
}
.sixthSectionContent h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 1.1rem;
  margin-top: 4rem;
}
.sixthSectionContent p{
  text-align: center;
  padding: 0rem 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Seventh section */
.seventhSection{
  margin: 4rem 1rem 12rem;
}
.seventhSection h2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: hsl(192, 100%, 9%);
}
.seventhSection .btn{
  display: flex;
  justify-content: center;
}
.seventhSection a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  text-decoration: none;
  border: none;
  padding: 0.8rem 2.7rem;
  border-radius: 20px;
  font-weight: 600;
  color: hsl(207, 100%, 98%);
  background-color: hsl(322, 100%, 66%);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.seventhSection a:hover{
  background-color: hsl(321, 100%, 78%);
}
/* Footer */
footer{
  display: flex;
  flex-direction: column;
}
footer .bg{
  width: 100%;
}
footer .bgDesktop{
  display: none;
}
.footerContent{
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
  padding: 1rem 1rem;
}
.footerContent h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.footerContent p{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}
.footerContent form{
  padding-top: 1.2rem;
  padding-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footerContent input[type=email], .footerContent button{
  padding: 0.8rem;
  border-radius: 5px;
}
.footerContent button{
  display: block;
  width: 50%;
  align-self: flex-end;
  margin: 1rem 0 3rem;
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  text-decoration: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.footerContent button:hover{
  background-color: hsl(321, 100%, 78%);
}
.brandDescription img{
  width: 13rem;
  height: auto;
}
.footerContent address{
  font-style: normal;
  padding: 1.5rem 0;
}
address i{
  color: hsl(207, 100%, 98%);
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0 0;
}
.mediaIcons i{
  color: hsl(207, 100%, 98%);
  font-size: 2rem;
  padding: 1rem 1rem 0 0;
}
.mediaIcons i:hover{
  color: #01c6f3;
  cursor: pointer;
}
.attribution{
  text-align: center;
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
  text-decoration: underline;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0;
  padding: 1rem;
}
.attribution a{
  color: hsl(322, 100%, 66%);
}
.attribution a:hover{
  color: hsl(321, 100%, 78%);
}
}


/* Desktop design */
@media screen and (min-width:961px){ 
/* Top bar */
.navigationBar{
  display: flex;
  justify-content: space-between;
  margin: 4rem;
}
.navLeft img{
  width: 15rem;
  height: auto;
}
.navRight a{
  border: 1px solid hsl(322, 100%, 66%);
  background-color: white;
  padding: 0.6rem 2.5rem;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.9rem;
  color: hsl(322, 100%, 66%);
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.navRight a:hover{
  border: 1px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
}

/* First section */
.firstSection{
  margin: 12rem 12% 0 12%;
}
.firstSection h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: hsl(192, 100%, 9%);
}
.firstSection p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(192, 100%, 9%);
  text-align: center;
  padding: 0rem 28%;
}
.firstSection .btn{
  display: flex;
  justify-content: center;
}
.firstSection a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  text-decoration: none;
  border: none;
  padding: 1.5rem 6rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(207, 100%, 98%);
  background-color: hsl(322, 100%, 66%);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.firstSection a:hover{
  background-color: hsl(321, 100%, 78%);
}
/* Second section */
.secondSection{
  margin: 6rem 15%;
}
.secondSection img{
  width: 100%;
  height: auto;
}

/* Third section */
.thirdSection{
  padding: 0rem 20% 10rem 20%;
  display: flex;
  justify-content: space-between;
}
.thirdSectionData img{
  width: 1.8rem;
  height: auto;
}
.thirdSectionData h2{
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  font-size: 5.5rem;
  margin: 0;
}
.thirdSectionData h3{
  font-family: 'Open Sans', sans-serif;
  color: hsla(192, 100%, 9%, 0.6);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}
.thirdSectionData:not(:first-child) h3{
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

/* Fourth section */
.fourthSection{
  display: flex;
  flex-direction: column;
}
.fourthSection .bg{
  display: none;
}
.fourthSection .bgDesktop{
  width: 100%;
}
.fourthSectionContent{
  background-color: hsl(207, 100%, 98%);
  padding: 5rem 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.fourthSectionContent img{
  width: 50%;
  margin-left: 10%;
}
.fourthSectionContent .description{
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fourthSectionContent h2{
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 2rem;
  margin: 0;
}
.fourthSectionContent p{
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Fifth section */
.fifthSection{
  padding: 7rem 10%;
  display: flex;
}
.fifthSection img{
  width: 50%;
  margin-right: 10%;
}
.fifthSection .description{
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fifthSection h2{
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 2rem;
  margin: 0;
}
.fifthSection p{
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 0.8rem;
  font-weight: 400;
}
/* Sixth section */
.sixthSection{
  display: flex;
  flex-direction: column;
}
.sixthSection .bg{
  display: none;
}
.sixthSection .bgDesktop{
  width: 100%;
}
.sixthSectionContent{
  background-color: hsl(207, 100%, 98%);
  padding: 3rem 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.sixthSectionContent img{
  width: 50%;
  margin-left: 10%;
}
.sixthSectionContent .description{
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sixthSectionContent h2{
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 2rem;
  margin: 0;
}
.sixthSectionContent p{
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 0.8rem;
  font-weight: 400;
}
/* Seventh section */
.seventhSection{
  padding: 6rem;
  padding-bottom: 10rem;
}
.seventhSection h2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(192, 100%, 9%);
}
.seventhSection .btn{
  display: flex;
  justify-content: center;
}
.seventhSection a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  text-decoration: none;
  border: none;
  padding: 1.5rem 6rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(207, 100%, 98%);
  background-color: hsl(322, 100%, 66%);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.seventhSection a:hover{
  background-color: hsl(321, 100%, 78%);
}
/* Footer */
footer{
  display: flex;
  flex-direction: column;
}
footer .bg{
  display: none; 
}
footer .bgDesktop{
  width: 100%;
}
.footerContent{
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
  padding: 7rem 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.brandDescription img{
  width: 13rem;
  height: auto;
}
.footerContent address{
  font-style: normal;
  padding-bottom: 1rem;
}
.footerContent h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.footerContent p{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}
address i{
  color: hsl(207, 100%, 98%);
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0 0;
}
.mediaIcons i{
  color: hsl(207, 100%, 98%);
  font-size: 2.5rem;
  padding: 1.5rem 1rem 0 0;
}
.mediaIcons i:hover{
  color: #01c6f3;
  cursor: pointer;
}
.footerContent input[type=submit]{
  display: inline-block;
  width: 25%;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  text-decoration: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.sectionLeft {
  flex: 100%;
}
.sectionLeft p{
  width: 42%;
}
.sectionRight{
  display: flex;
  flex-direction: column;
}
.sectionRight p{
  width: 65%;
  margin: 1rem 0;
}
.sectionRight form{
  display: flex;
  justify-content: space-between;
}
.sectionRight input[type=email]{
  width: 52%;
  padding: 0.7rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.sectionRight button{
  display: inline-block;
  text-align: center;
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  text-decoration: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.sectionRight button:hover{
  background-color: hsl(321, 100%, 78%);
}
.attribution{
  text-align: center;
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
  text-decoration: underline;
  font-style: italic;
  font-size: 1rem;
  margin: 0;
  padding: 1.5rem;
}
.attribution a{
  color: hsl(322, 100%, 66%);
}
.attribution a:hover{
  color: hsl(321, 100%, 78%);
}
}